* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

html, body {
    height: 100%;
}
body {
    background-color: #fefefe;
    max-width: 34rem;
    margin: 0 auto;
}

.header {
    width: 100%;
}

.nav {
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
  }

  .nav li {
    display: inline;
    border-right: 2px solid #fefefe;
  }
  
  .nav a {
    display:inline-block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    background-color: red;
    margin: 5px auto;
  }
  
  .nav li a:hover {
    background-color: #111;
  }

  #logo {
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px red solid;
  }

  #projects_description {
    margin-top: 40px;
  }

.projects_container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.projects_container > div {
    margin-bottom: 20px;
}

.projects_container a {
    text-decoration: underline;
    color: red;
}

blockquote {
    text-align: right;
    margin: 3px;
}

.footer {
    bottom: 0;
    width: 80%;
    margin: 0px auto;
}

.footer2 {
    background-color: red;
    padding: 1%;
    text-align: center;
    color: white;
}